{% extends 'base.html' %}

{% block content %} 

<div class="card" style="align-items: center; margin: 1%; display: flex;">
    <div class="card-body">
      <h5 class="card-title">Add Book</h5>
      <p class="text">
        <form method="post">
            {% csrf_token %}
            {{ forms }}
           <button type="submit">Submit</button> 
       </form>
     </p>
    </div>
  </div>
   
  
<div class="card" style="align-items: center; margin-top: 1%; display: flex;  justify-content: center;">
    <div class="card-body" >
      <h5 class="card-title">Delete Book</h5>
      <p class="text">
        <<ul>
            {% for products in product %}
                <li>{{ product.title }} </li>
            {% endfor %}
        </ul>
     </p>
    </div>
  </div>     
    <a class="btn btn-primary" href="http://127.0.0.1:8000/login/acervo/"><button class="btn btn-primary">Acervo</button></a>
 
</div>


 


{% endblock %}